.product-container{
    
    width: 200px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
   /* box-shadow:5px 5px 5px 5px rgb(141, 141, 141); */
   background-image: linear-gradient(rgb(192, 191, 191),white);
}
.product-container img{
    width: 200px;
    height: 200px;
}
.product-container:hover  {
    background: white;
}